sql_database=ac
sql_user=ac_truffle
sql_port=1521
sql_server=ac-db-dev1.ccpnqbzvijew.ap-southeast-1.rds.amazonaws.com
sql_password=xutKfBLH3GqQGDiwzt08

# sql_port=1433
# sql_server=localhost
# sql_password=password99

# `yarn ganache` will use this network_id -- see: getTestContextWeb3() for dev network_id convention
# `truffle migrate` will *override* this network_id value with the network ID specified in truffle-config.js
NETWORK_ID=888
CONTRACT_TYPE=COMMODITY